<div class="mouseStalker" data-state></div>

<script>
class MouseStalker {
	private cursor: {
		x: number, y: number
	};
	private mouseStalker: {
		ease: number, // type deafult で使用
		node: HTMLElement,
		x: number, y: number,
		velocityX: number, velocityY: number,
		power: number // type spring で使用。大きいとよりバネで引っ張られるようになる
	};

	constructor() {
		this.cursor = {
			x: 0, y: 0
		};
		this.mouseStalker = {
			ease: 0.3,
			node: document.querySelector('.mouseStalker') as HTMLElement,
			x: 0, y: 0,
			velocityX: 0, velocityY: 0,
			power: 0.8
		};

		this.update = this.update.bind(this);
		this.onMouseMove = this.onMouseMove.bind(this);

		window.addEventListener('mousemove', this.onMouseMove);
		this.update();
	}

	private update() {
		const type = getComputedStyle(document.documentElement).getPropertyValue('--mouseStalker-type').trim().replace(/['"]+/g, '');
		switch (type) {
			case 'spring':
				// :root --mouseStalker-type="spring" の場合
				this.mouseStalker.velocityX += (this.cursor.x - this.mouseStalker.x) * this.mouseStalker.power;
				this.mouseStalker.velocityY += (this.cursor.y - this.mouseStalker.y) * this.mouseStalker.power;
				this.mouseStalker.x += this.mouseStalker.velocityX *= this.mouseStalker.power;
				this.mouseStalker.y += this.mouseStalker.velocityY *= this.mouseStalker.power;
				break;
			default:
				// :root --mouseStalker-type="default" の場合
				this.mouseStalker.x += (this.cursor.x - this.mouseStalker.x) * this.mouseStalker.ease;
				this.mouseStalker.y += (this.cursor.y - this.mouseStalker.y) * this.mouseStalker.ease;
				break;
		}

		document.documentElement.style.setProperty(
			'--mouseStalker-position-x',
			this.mouseStalker.x - (this.mouseStalker.node.offsetWidth * 0.5) + 'px'
		);
		document.documentElement.style.setProperty(
			'--mouseStalker-position-y',
			this.mouseStalker.y - (this.mouseStalker.node.offsetHeight * 0.5) + 'px'
		);

		requestAnimationFrame(this.update);
	}

	private onMouseMove(e: MouseEvent) {
		this.cursor.x = e.clientX;
		this.cursor.y = e.clientY;

		// 初回操作でdata-state="move"を付与
		if (this.mouseStalker.node.dataset.state !== 'move') { 
			this.mouseStalker.node.dataset.state = 'move';
		}
	}
}

document.addEventListener('DOMContentLoaded', () => {
	new MouseStalker();
});
</script>

<style>
	.mouseStalker {
		background-color: var(--mouseStalker-color);
    border-radius: 50%;
    height: calc(var(--mouseStalker-size) * 1px);
		position: absolute;
    top: var(--mouseStalker-position-y);
    left: var(--mouseStalker-position-x);
		transition: background-color 0.4s, opacity: 0.4s;
    width: calc(var(--mouseStalker-size) * 1px);
		&:not([data-state="move"]) {
			opacity: 0;
		}
	}
</style>
